@charset "utf-8";
/* ログイン、ログアウト */


/* アカウント登録の色文字変更 */
.margin-top10 {
  margin-top: 10px;
}

.margin-top20 {
  margin-top: 20px;
}


.margin-top30 {
  margin-top: 30px;
}

.color {
  color: #2BCDD3;
}

.background {
  background: #2BCDD3;
}

.white {
  color: #fff;
}

body {
  background: #f7f7f7;
}



/* ヘッダー、トップ */


header {
  height: 50px;
  background: red;
  color: #778899;
}

.navlogo {
  font-size: 20px;
  float: left;
  height: 50px;
  padding: 10px 0 10px 5%;
  text-decoration: none;
  color: #778899;
}

.navlogo:hover {
  text-decoration: none;
  color: #272e2e;
}

.navpull {
  margin-top: 3px;
  padding-left: 6px;
  color: #272e2e;
  font-size: 23px;
  background: #2BCDD3;
}

.navicon {
  margin-top: 5px;
}

.naviconfont {
  font-size: 20px;
}



.dropdown-menu {
  margin-top: 15px;
}

.navfont {
  font-size: 12px;
  margin: 10px 2% 0 0;
}


.signin-navfont {
  font-size: 13px;
  background: #11b5bb;
}



.signup {
  border: 2px solid #fff;
}

.signup:hover {
  background: #fff;
}

.welcomebody {
  background: #2BCDD3;
}

/* レッツゴー */
.welcome {
  padding: 50px 40px 200px 40px;
  color: #778899;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffffff 2%, #69f1f7 18%, #2bcdd3 50%);
}

.welcometitle {
  font-weight: 700;
  margin-bottom: 0;
}

.welcomecontent {
  margin-top: 25px;
}



.welcomebtn {
  color:#000000;
  border-bottom: 2px solid #000000;
  margin: 20px 15px;
  border-radius: 0;

}

.welcomebtn:hover {
  color: #000000;
  background:#D8BFD8;
}
.nomalbtn {
  color: #2bcdd3;
  border: 2px solid #2bcdd3;
  padding: 6px 30px;
}

.nomalbtn:hover {
  color: #fff;
  background: #2bcdd3;
}

/* メニューリスト */
.nav-pills > li > a {
  color: #707272;
}

.nav-pills > li.active > a {
  background: #2bcdd3;
}

.nav-pills > li.active > a:hover {
  background: #11b5bb;
}

.partition {
  border-bottom:1px solid #c0c0c0;
}
