@charset "utf-8";
/* ログイン、ログアウト */


/* アカウント登録の色文字変更 */
.margin-top10 {
  margin-top: 10px;
}

.margin-top20 {
  margin-top: 20px;
}


.margin-top30 {
  margin-top: 30px;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.margin-right5 {
  margin-right: 5px;
}


.margin-bottom20 {
  margin-bottom: 20px;
}


.margin-right10 {
  margin-right: 10px;
}


.color {
  color: red;
}

.background {
  background: red;
}

.new-look-bg {
  background: #aeffff3f;
}


.white {
  color: #fff;
}

.green {
  color: red;
}



body {
  word-wrap: break-word;
  background: white;
  /* background-image: linear-gradient(0deg, #ffffff 2%, #69f1f7 18%, #2bcdd3 50%); */
}

.alert {
  margin: 0;
}

.badge {
  background: #0000005e;
}


footer {
  height: 50px;
}

.orange {
  color: #f79b24;
}

header {
  height: 50px;
  background: red;
  color: #778899;
}

/* ヘッダー、トップ */

.navlogo {
  font-size: 20px;
  float: left;
  height: 50px;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
}


.navlogo:hover {
  text-decoration: none;
  color: #272e2e;
}

.navpull {
  margin-top: 3px;
  padding-left: 6px;
  color: #272e2e;
  font-size: 23px;
  background: red;
}

.navicon {
  margin-top: 5px;
}

.naviconfont {
  font-size: 20px;
}



.dropdown-menu {
  margin-top: 15px;
}

.navfont {
  font-size: 12px;
  margin: 10px 0 0 3px;
}


.result-new {
  font-size: 13px;
  background: red;
}

.nav-count {
  margin-top: 13px;
  margin-left: 3px;
  padding: 7px 3px;
  background: hsl(180, 100%, 97%);
  color: #219191;
}

.nav-user {
  padding-left: 6px;
}


.signup {
  border: 2px solid #fff;
}

.signup:hover {
  background: #fff;
}

.welcomebody {
  background: #2BCDD3;
}

/* レッツゴー */
.welcome {
  padding: 50px 40px 30px 40px;
  color: black;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e74c3c;
  animation: bg-color 10s infinite;
  -webkit-animation: bg-color 10s infinite;
}
@-webkit-keyframes bg-color {
  0% { background-color: #e7c0bb; }
  20% { background-color: #e9d68b; }
  40% { background-color: #a3e4d7fd; }
  60% { background-color: #a8cee7; }
  80% { background-color: #be95ce; }
  100% { background-color: #f58073; }
}
@keyframes bg-color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}




.welcometitle {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 80px;
}

.welcomecontent {
  background: #FFFFFF;
  padding: 4px;
  border-radius: 15px;
  width: 300px;
  margin: 35px auto auto auto ;
  background-color: #e74c3c;
  animation: bg-color 10s infinite;
  -webkit-animation: bg-color 10s infinite;
}



.welcomebtn {
  color:#000000;
  border-bottom: 2px solid #000000;
  border: 2px solid #000000;
  margin: 20px 15px;
  background: #FFFFFF;
}

.welcomebtn:hover {
  color: #000000;
  background:red;
}
.nomalbtn {
  color: red;
  border: 2px solid red;
  background-color: transparent;
  padding: 6px 30px;
}

.nomalbtn:hover,
.nomalbtn.now {
  color: black;
  background: red;
  border-color: white;
}

.goodbtn {
  color: red;
  border: 2px solid red;
  padding: 6px 30px;
}

.goodbtn:hover,
.goodbtn.now {
  color: #fff;
  background: red;
}

.badge {
  background: #0000005e;
}





/* メニューリスト */
.nav-pills > li > a {
  color: black;
}

.nav-pills > li.active > a {
  color: #000000;
  background: white;
}

.nav-pills > li.active > a:hover {
  background: red;
}

.partition {
  border-bottom:1px solid #c0c0c0;
}

.eachbody {
  padding: 0;
}

.eachcontent {
  padding: 15px;
}

.title {
  margin: 0;
}



.border-left {
  border-left: 4px solid #2bcdd3;
}

.padding-left {
  padding-left: 10px;
  margin-bottom: 10px;
}

/* いいね機能 */
.good {
  color: #f79b24;
  border: 2px solid #f79b24;
  padding: 6px 15%;
}

.goodnow {
  color: #f79b24;
  background: #f7ad2438;
  border: 2px solid #f79b24;
  padding: 6px 15%;
}

.good:hover,
.goodnow:hover {
  color: #f79b24;
  opacity: 0.7;
}

/* コメント */
.comment {
  padding: 8px 15%;
}

.box {
  padding: 20px 35px 15px 35px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

.image-box {
  padding: 10px;
}


.mo_img {
  max-width: 50%;
  height: auto;
}

.no_img_content {
  line-height: 177px;
}


.no_img_content_show {
  line-height: 177px;
  background: #f1f1f1;
  margin: 15px;
}



.top-content {
  padding: 20px
}

.icon {
  padding: 20px 19px;
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
  width: 60px;
}

.home-content {
  padding: 10px 0 10px 10px;
  font-size: 20px;
  font-weight: 600;
}

.b-bottom {
  border-bottom: 3px solid red;
}

.good-b-bottom {
  border-bottom: 3px solid red;
}

.users-b-bottom {
  border-bottom: 3px solid red;
}

.result .col-sm-4 {
  padding: 0 5px;
}

.result .panel-heading {
  height: 200px;
}

.result .panel-heading .img {
  height: 100%;
}

.result .panel-body {
  height: 100px;
  width: 100%;
}


.new-label {
  background: #cf1414;
  color: #fff;
}


.result .panel-body div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

.comment-signin {
  padding: 10px;
  background: #d7e8e9;
  border-radius: 15px;
}

.tweetbtn {
  background: red;
  color: #fff;
}

.tweetbtn:hover {
  background: red;
  color: #fff;
}

/* モーダル */
.good-modal-content {
  display: none;
  background: #d7e8e9;
  padding: 40px;
  border-radius: 15px;
  border: 5px solid rgba(96, 124, 126, 0.658);
  z-index: 1;
}

.btn {
  background-color: red;
  color: white;
}