<% if current_page?(root_path) || current_page?(users_path) || current_page?(good_ranking_path) %>
  <div class="welcome text-center">
    <h1 class="welcometitle">Next innovation <i class="fas fa-share-alt"></i></h1>
    <span>今ここにない未来は自分で創る</span>
    
    <div class="welcomecontent">
      <h5>あなたならできる</h5>
      <h5><i class="fas fa-caret-right"></i> Done is better than perfect.</h5>
      <h5><i class="fas fa-caret-right"></i> 完璧を目指すよりまず終わらせろ</h5>
    </div>
    
      
    <a class='btn welcomebtn' href="/users/sign_up">アカウント登録</a>
    <a class='btn welcomebtn' href="/users/sign_in">ログイン</a>
  </div>
<% end %>